@import "bootstrap-sprockets";
@import "bootstrap";

.header {
  background-color: #344256;
  height: 100px;
  margin-top: 25px;
  font: bold 30px Georgia;
  color: #eee;
  text-align: center;
  line-height: 100px;
}

.container, .detail_container {
  margin: 0px auto;
  display: flex;
  width: 1304px;
  padding: 0px 0px;
  flex-flow: row wrap;
}

.container {
  .product_container {
    width: 300px;
    height: 530px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 21px 13px;
    img {
      margin: 10px 25px;
    }
    .product_name {
      font-size: 25px;
    }
    .product_price {
      font-size: 16px;
      margin: 10px 5px;
    }
    .product_name, button {
      margin: 0px 5px;
    }
  }
}


.detail_container {
  img {
    max-width: 775px;
  }
  .detail_description_container {
    width: 479px;
    margin-top: 30px;
    margin-left: 50px;
    * {
      margin-bottom: 10px;
      font-size: 15px;
    }
    .detail_product_name {
      background-color: #FFCC00;
      font-size: 30px;
    }
    .detail_price, .detail_description, .detail_dimensions {
      font-size: 20px;
    }
    .detail_price {
      background-color: #bff6eb;
    }
    .detail_description, .detail_dimensions {
      background-color: #e9e0d6;
    }
  }
}

.home_container {
  background-image: url(image-path('hero.jpg'));
  height: 600px;
  margin-top: 30px;
  .home_description {
    text-align: right;
    padding-right: 20px;
    .intro_tag {
      padding-top: 100px;
      font: bold 28px Georgia;
      color: white;
    }
    .intro_subtag {
      padding-top: 32px;
      color: white;
      font: normal 25px Arial;
    }
    button {
      margin-top: 24px;
    }
  }
}
