<div class="home_container">
 <div class="home_description">
   <div class="intro_tag">
     Your Furniture is Old.
   </div>
   <div class="intro_subtag">
     Ours is older.
   </div>
   <button class="btn">
     <%= link_to 'Checkout our products', products_path %>
   </div>
 </div>
</div>
